---
import '../styles/index.css'
import 'particles.min.js'
import 'sparkles.js'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="viewport" content="height=device-height, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Reactive Website</title>
	</head>

	<body class='container'>

		<div id="bg"></div>

		<header>
			<h1>Snow</h1>
		</header>

		<main>
			
		</main>

		<footer>
			
		</footer>

		<script type="text/javascript" src="src/scripts/particles.min.js"></script>
		<script type="text/javascript" src="src/scripts/sparkles.js"></script>



	</body>

</html>
